@{
    ViewData["Title"] = "Home Page";
}
<script src="~/js/takeimg.js" asp-append-version="true"></script>
<div class="description-container">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 description-title">
            <h2>Please try this face login </h2>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 description-text">
            <p>
                This is a prototype incorporating Microsoft cognitive API of face recognition to a login and registration process. 
                If you like it, you could download it on my github rep <a href="https://github.com/xiangtong/face-login.git"><strong>GitHub</strong></a>, customize and use it as you like!
            </p>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
<div class="msf-container">
    <div class="row">
        @Html.Partial("login-partial")
        @Html.Partial("reg-partial")
    </div>
</div>
<!--<div class="row">
    <div class="col-sm-12"></div>
        @{
            if(ViewBag.user!=null){
                <p>@ViewBag.user.FirstName</p>
                <p>@ViewBag.user.LastName</p>
                <p>@ViewBag.user.UserId</p>
                <p>@ViewBag.user.Email</p>
            }
            if(ViewBag.ifhasimage!=null && ViewBag.ifhasimage==true)
            {
                <button id="displayvideo">Login with your face</button> <i id="progress" style="visibility:hidden"  class="fa fa-spinner fa-spin fa-3x"></i>
                <div id="videodiv" style="display: none;">
                    <p> Click Face login to login with your face</p>
                    <p id="loginresult" class="error"> </p><br>
                    <button ID="verify" >Face login</button><br><br>
                    <video id="video" width="640" height="480" autoplay="autoplay"></video>
                    <canvas id="canvas" width="640" height="480" style="visibility:hidden" ></canvas>
                </div>
            }
        }
    </div>
</div>-->



